<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZhongJiangVDisk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E1721AE1D62FFD4003CA0AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E1721C71D62FFD4003CA0AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E1721D21D62FFD4003CA0AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
